@using viramesV4.Object.BusinessLogicLayer.Master
@model IList<Employee>
@{
    ViewBag.Title = "employeeWorkstationGroupAppointmentAssigned";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h3>İş İstasyonu Havuzu Tanımları</h3>
    <div class="box-body ">
        <a class="btn btn-app btn btn-primary" onclick="goBack()">
            <i class="fa fa-arrow-left"></i> Geri
        </a>
    </div>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">İş İstasyonu Havuzuna Atanmış Personeller</h3>
                </div>
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Personel Kodu</th>
                                <th>Personel Adı Soyadı</th>
                                <th>Ünvanı</th>
                                <th>Departman</th>
                                <th>Maliyeti</th>
                                <th>Durum</th>
                                <th>Personel Tipi</th>
                                <th>Departman Kapsamı</th>
                                <th>İşlem</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Employee employee in Model)
                            {
                            <tr>
                                <td>@employee.Code</td>
                                <td>@employee.Name</td>
                                <td>@employee.Title</td>
                                <td>@employee.Department</td>
                                <td>@employee.Cost</td>
                                <td>@employee.Status</td>
                                <td>@employee.EmployeeType</td>
                                <td>@employee.DepartmentScope</td>
                                <td>
                                    <div class="dropdown btn-group dropleft">
                                        <button class="btn  btn-primary dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown">
                                            Seç
                                        </button>
                                        <div class="dropdown-menu">
                                            <a href="@Url.Action("DetailEmployee", "ResourceManagement", new { id = employee.ID })"><span class="fa fa-eye"> Görüntüle </span></a> <br />
                                            <a href="@Url.Action("EditEmployee", "ResourceManagement", new { id = employee.ID })"><span class="fa fa-edit"> Düzenle </span></a> <br />
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

