@using viramesV4.Object.BusinessLogicLayer.Master
@model IList<MaterialFiche>
@{
    ViewBag.Title = "materialFiches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h3>Malzeme Fişleri</h3>
    <div class="box-body">
        <a class="btn btn-app btn btn-primary" onclick="goBack()">
            <i class="fa fa-arrow-left"></i> Geri
        </a>
        <a class="btn btn-app">
            <i class="fa fa-share-square" data-toggle="modal" data-target="#ModalButton"></i> Aktarım
        </a>
        <div class="modal fade" id="ModalButton" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3>Dışa Aktar</h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">Text File (.txt)</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">Excel File (.xlsx)</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                            <label class="form-check-label" for="inlineRadio1">Html File (.txt)</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
                            <label class="form-check-label" for="inlineRadio2">PDF File (.pdf)</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Aktar</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Kapat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                </div>
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>İrsaliye Numarası</th>
                                <th>Türü</th>
                                <th>Numarası</th>
                                <th>Satınalma Siparişi</th>
                                <th>Depo</th>
                                <th>Depo Girdi</th>
                                <th>Proje</th>
                                <th>İş Emri</th>
                                <th>Personel</th>
                                <th>Tarih</th>
                                <th>Malzefe Fiş Durumu</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (MaterialFiche materialFiche in Model)
                            {
                                <tr>
                                    <td>@materialFiche.DispatchNumber</td>
                                    <td>@materialFiche.Type</td>
                                    <td>@materialFiche.Number</td>
                                    <td>@materialFiche.PurchaseOrder</td>
                                    <td>@materialFiche.Warehouse</td>
                                    <td>@materialFiche.InputWarehouse</td>
                                    <td>@materialFiche.Project</td>
                                    <td>@materialFiche.Workorder</td>
                                    <td>@materialFiche.Employee</td>
                                    <td>@materialFiche.Date</td>
                                    <td>@materialFiche.MaterialFicheStatus</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>