@model viramesV4.Object.BusinessLogicLayer.Master.Material

@{
    ViewBag.Title = "detailMaterialDefinition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        Malzeme Tanımları
    </h1>
    <div class="box-body ">
        <a class="btn btn-app btn btn-primary" href="~/ProductManagement/materialDefinitions"> <span class=" fa fa-backward"></span>Geri</a>
        <a class="btn btn-app btn btn-primary" href="~/ProductManagement/editMaterialDefinition/@Model.ID"> <span class=" fa fa-edit"></span>Düzenle</a>
        @*<button type="button" class="btn btn-danger">
            <a href="~/ResourceManagement/editWorkstationGroup/@Model.ID"> <span class=" fa fa-edit"></span>Düzenle</a>
        </button>*@
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h2>Görüntüle</h2>
                    <h3 class="box-title"></h3>
                </div>


                <div>
                    <h3>Malzeme Tanımı</h3>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.DefaultWarehouse.Code)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DefaultWarehouse.Code)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.MaterialClass.Code)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MaterialClass.Code)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.MaterialSpecification.Code)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MaterialSpecification.Code)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.MaterialType.Definition)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MaterialType.Definition)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PurchaseGroupCode.GroupCode)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PurchaseGroupCode.GroupCode)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.RejectionWarehouse.Code)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.RejectionWarehouse.Code)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.SerialTemplate.Code)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SerialTemplate.Code)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ShelfLocation.LocationOfShelf)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ShelfLocation.LocationOfShelf)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.SpeCode.SpecialCode)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SpeCode.SpecialCode)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.StorageConditionSet.Code)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.StorageConditionSet.Code)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UnitSet.Code)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UnitSet.Code)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Code)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Code)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Definition)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Definition)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PackedMaterial)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PackedMaterial)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PackagedSubMaterialID)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PackagedSubMaterialID)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ERPReference)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ERPReference)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TraceType)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TraceType)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Status)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Status)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Image)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Image)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.LotCount)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LotCount)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Virtual)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Virtual)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Saleable)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Saleable)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Purchasable)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Purchasable)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.AverageOrderQuantity)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.AverageOrderQuantity)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ExpirationTime)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ExpirationTime)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PurchaseVAT)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PurchaseVAT)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.SalesVAT)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SalesVAT)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.SalesReturnsVAT)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SalesReturnsVAT)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PurchasesReturnsVAT)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PurchasesReturnsVAT)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.BOMUnit)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.BOMUnit)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PurchaseUnit)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PurchaseUnit)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CreatedBy)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreatedBy)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreatedDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ModifiedBy)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ModifiedBy)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ModifiedDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ModifiedDate)
                        </dd>

                    </dl>
                </div>
                <br />
                <br />
            </div>
        </div>
    </div>
</section>
