
@{
    ViewBag.Title = "purchaseOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using viramesV4.Object.BusinessLogicLayer.Master
@model IList<PurchaseIndent>

<section class="content-header">

    <div class="box-body">
        <a class="btn btn-app btn btn-primary" href="~/ProductManagement/materialDefinitions"> <span class=" fa fa-backward"></span>Geri</a>

    </div>

</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    <h2>
                        Dökümana Atanan Kayıtlar

                    </h2>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <h2> Satınalma Emirleri </h2>
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Numara</th>
                                <th>Satınalma Talebi</th>
                                <th>Personel</th>
                                <th>Proje</th>
                                <th>Tarih</th>
                                <th>Durum</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (PurchaseIndent material in Model)
                            {

                            <tr>
                                <td>@material.Number</td>
                                <td>@material.PurchaseDemand</td>
                                <td>@material.Employee</td>
                                <td>@material.Project</td>
                                <td>@material.Date</td>
                                <td>@material.ApprovalInformation</td>


                            </tr>

                            }
                        </tbody>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>



