@model viramesV4.Object.BusinessLogicLayer.System.User

@{
    ViewBag.Title = "EditPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section class="content-header">
        <h3>Kullanıcı Tanımları</h3>
        <div class="box-body ">
            <a class="btn btn-app btn btn-primary" onclick="goBack()">
                <i class="fa fa-arrow-left"></i> Geri
            </a>
        </div>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Şifre Değiştir</h3>
                        <div class="box-body">
                        </div>
                        <form id="myform" class="form-horizontal">
                            <div class="box-body">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="form-group">
                                    <label for="inputPassword1" class="col-sm-2 control-label">Yeni Şifre</label>

                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" id="NewPassword" placeholder="Password">
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="form-group">
                                    <label for="inputPassword2" class="col-sm-2 control-label">Şifre Onayı</label>

                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" id="CheckPassword" placeholder="Password">
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">

                                        <label1 onclick="CheckPassword()" id="pass" class="col-sm-2 control-label">Yeni Şifre</label1>
                                        @*<a href="#" onclick="CheckPassword()"><span class="fa fa-eye"> Görüntüle </span></a> <br />*@

                                        @*<button onclick="CheckPassword()" value="Kaydet" class="btn btn-app btn btn-primary" />*@
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
}


<script>
    var CheckPassword = function () {
        var NewPassword = document.getElementById('NewPassword').value;
        var CheckPassword = document.getElementById('CheckPassword').value;

        console.log(NewPassword);
        console.log(CheckPassword);
        if (NewPassword == CheckPassword) {

            //  Session["fd"] = NewPassword;
            ViewBag.NewPassword = Session["NewPassword"].ToString();


            window.location.href = '/SystemManagement/SetEditPassword/' + @Model.ID;
            }
            else {
                document.getElementById('NewPassword').value = "";
                document.getElementById('CheckPassword').value = "";
            }
        }
</script>

